html {
  scroll-behavior: smooth;
  color: #4a4a4a;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

.text-title {
  position: relative;
}
.text-title::after {
  content: '';
  background-color: #dcc4fc;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
